[workspace]
authors = ["Matthew Feickert <matthew.feickert@cern.ch>"]
channels = ["conda-forge"]
description = "Example of CUDA/MPS enabled PyTorch install with pixi"
name = "pytorch-gpu-pixi-example"
platforms = ["linux-64", "osx-arm64"]
requires-pixi = ">=0.42.0"
version = "0.1.0"

[tasks]
detect-gpu = """
curl -sLO https://raw.githubusercontent.com/matthewfeickert/nvidia-gpu-ml-library-test/refs/heads/main/torch_detect_GPU.py && \
python torch_detect_GPU.py
"""

start = { depends-on = ["detect-gpu"] }

[system-requirements]
cuda = "12.0"

[dependencies]
pytorch = ">=2.7.1,<3"
curl = ">=8.14.1,<9"
